<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper     
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="classroomMapper">
	
	<!-- 클래스룸 과제 crAsgnDTO -->
	<resultMap type="crAsgnDTO" id="asgnSelectMap">
	 <id column="cr_asgn_code" property="crAsgnCode"/>
	 <result column="course_code" property="courseCode"/>
	 <result column="user_id" property="userId"/>
	 <result column="cr_asgn_title" property="crAsgnTitle"/>
	 <result column="cr_asgn_deadline" property="crAsgnDeadline"/>
	 <result column="cr_asgn_date" property="crAsgnDate"/>
	 <result column="cr_asgn_content" property="crAsgnContent"/>
	 <result column="cr_asgn_readnum" property="crAsgnReadnum"/>
	</resultMap>
	
	<!-- crAsgnDTO 커리 모든값 -->
	<sql id="crAsgnColumnName">
  		cr_asgn_code,course_code,user_id,cr_asgn_title,cr_asgn_deadline,cr_asgn_date,cr_asgn_content,cr_asgn_readnum
	</sql>
	
	<!-- 클래스룸 과제제출 crSubAsgnDTO -->
	<resultMap type="crSubAsgnDTO" id="subAsgnSelectMap">
	 <id column="cr_subasgn_code" property="crSubasgnCode"/>
	 <result column="cr_asgn_code" property="crAsgnCode"/>
	 <result column="user_id" property="userId"/>
	 <result column="cr_subasgn_title" property="crSubasgnTitle"/>
	 <result column="cr_subasgn_content" property="crSubasgnContent"/>
	 <result column="cr_subasgn_date" property="crSubasgnDate"/>
	 <result column="cr_subasgn_file" property="crSubasgnFile"/>
	</resultMap>
	
	<!-- crSubAsgnDTO 커리 모든값 -->
	<sql id="crSubAsgnColumnName">
  		cr_subasgn_code,cr_asgn_code,user_id,cr_subasgn_title,cr_subasgn_content,cr_subasgn_date,cr_subasgn_file
	</sql>
	
	<!-- 피드백 crFeedbackDTO -->
	<resultMap type="crFeedbackDTO" id="feedbackSelectMap">
	 <id column="cr_feed_code" property="crFeedCode"/>
	 <result column="cr_subasgn_code" property="crSubasgnCode"/>
	 <result column="user_id" property="userId"/>
	 <result column="cr_feed_content" property="crFeedContent"/>
	 <result column="cr_feed_date" property="crFeedDate"/>
	</resultMap>
	<!-- crFeedbackDTO 커리 모든값 -->
	<sql id="crFeedbackColumnName">
		cr_feed_code,cr_subasgn_code,user_id,cr_feed_content,cr_feed_date
	</sql>
	
	
	<!-- 클래스룸 과제 등록하기 -->
	<insert id="insertAsgn" parameterType="crAsgnDTO">
		insert into cr_asgn values('cr_asgn'||lpad(cr_asgn_seq.nextval,4,'0'), #{courseCode}, #{userId}, #{crAsgnTitle}, #{crAsgnDeadline}, #{crAsgnDate}, #{crAsgnContent}, #{crAsgnReadnum})
	</insert>
	
	<!-- 과제 모든 레코드 검색 or 과제번호에 해당하는 레코드 검색 -->
	<select id="selectAsgnList" resultMap="asgnSelectMap" parameterType="String">
		select <include refid="crAsgnColumnName"/>
		from cr_asgn
		<where>
		 <if test="_parameter!=null">
		 	courseCode=#{_parameter}
		 </if>
		</where>
		order by cr_asgn_code desc
	</select>
	
	<!-- 조회수 증가 -->
	<update id="rednumUpdate" parameterType="String">
		update cr_asgn 
		set cr_asgn_readnum=cr_asgn_readnum+1
		where cr_asgn_code= #{_parameter}
	</update>
	
	<!-- 클래스룸 과제 수정 -->
	<update id="updateAsgn" parameterType="crAsgnDTO">
		update cr_asgn
		set cr_asgn_title=#{crAsgnTitle}, cr_asgn_deadline=#{crAsgnDeadline}, cr_asgn_date=#{crAsgnDate}, cr_asgn_content=#{crAsgnContent}
		where cr_asgn_code=#{crAsgnCode}
	</update>
	
	<!-- 클래스룸 과제 삭제 -->
	<delete id="deleteAsgn" parameterType="String">
		delete from cr_asgn 
		where cr_asgn_code=#{crAsgnCode}
	</delete>
	
	<!-- 클래스룸 과제제출 등록하기 -->
	<insert id="insertSubAsgn" parameterType="crSubAsgnDTO">
		insert into cr_sub_asgn values('cr_sub_asgn'||lpad(cr_subasgn_seq.nextval,4,'0'), #{crAsgnCode}, #{userId}, #{crSubasgnTitle}, #{crSubasgnContent}, #{crSubasgnDate}, #{crSubasgnFile})
	</insert>
	
	<!-- 클래스룸 과제제출 전체검색 or 과제제출번호에 해당하는 레코드 검색 -->
	<select id="selectSubAngnList" resultMap="subAsgnSelectMap" parameterType="String">
		select <include refid="crSubAsgnColumnName"/>
			from cr_sub_asgn
			<where>
			 <if test="_parameter!=null">
			 	cr_asgn_code=#{_parameter}
			 </if>
			</where>
			order by cr_subasgn_code desc
	</select>
	
	<!-- 클래스룸 과제제출 수정하기 -->
	<update id="updateSubAsgn" parameterType="crSubAsgnDTO">
		update cr_sub_asgn
		set cr_subasgn_title=#{crSubasgnTitle}, cr_subasgn_content=#{crSubasgnFile}, cr_subasgn_date={crSubasgnDate}
		where cr_subasgn_code={#crSubasgnCode}
	</update>
	
	<!-- 클래스룸 과제제출 삭제하기 -->
	<delete id="deleteSubAsgn" parameterType="String">
		delete from cr_sub_asgn
		where cr_subasgn_code={#crSubasgnCode}
	</delete>
	
	<!-- 피드백 등록하기 -->
	<insert id="insertFeedback" parameterType="crFeedbackDTO">
		insert into cr_feedback values('cr_feedback'||lapd(cr_feed_seq.nextval,4,'0'),#{crSubasgnCode}, #{userId}, #{crFeedContent}, #{crFeedDate})
	</insert>	
	
	<!-- 피드백 수정하기 -->
	<update id="updateFeedback" parameterType="crFeedbackDTO">
		update cr_feedback
		set cr_feed_content=#{crFeedContent}, cr_feed_date=#{crFeedDate}
		where cr_feed_code=#{crFeedCode}
	</update>
	
	<!-- 피드백 삭제하기 -->
	<delete id="deleteFeedback" parameterType="String">
		delete from cr_feedback
		where cr_feed_code=#{crFeedCode}
	</delete>
	
	<!-- 피드백 상세검색 -->
	<select id="selectFeedback" resultMap="feedbackSelectMap" parameterType="String">
		select <include refid="crFeedbackColumnName"/>
		from cr_feedback
		where cr_subasgn_code
	</select>
</mapper> 
 